aioauth-client==0.25.4
aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
boto3==1.17.62
botocore==1.20.62
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
docutils==0.17.1
gitdb==4.0.7
GitPython==3.1.15
h11==0.12.0
httpcore==0.13.2
httpx==0.18.1
idna==3.2
jmespath==0.10.0
marshmallow==3.11.1
marshmallow-enum==1.5.1
multidict==5.1.0
openttd-helpers==1.0.1
Pillow==8.2.0
python-dateutil==2.8.1
PyYAML==5.4.1
rfc3986==1.4.0
s3transfer==0.4.2
sentry-sdk==1.0.0
six==1.16.0
smmap==4.0.0
sniffio==1.2.0
typing-extensions==3.7.4.3
urllib3==1.26.5
yarl==1.6.3
