aiohttp==3.8.1
async-timeout==4.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
coloredlogs==15.0.1
future==0.18.2
humanfriendly==10.0
idna==3.2
multidict==5.1.0
PyYAML==5.4.1
requests==2.26.0
six==1.16.0
tinydb==4.5.2
tuspy==0.2.5
urllib3==1.26.7
verboselogs==1.7
yarl==1.6.3
