aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
coloredlogs==15.0
future==0.18.2
humanfriendly==9.1
idna==2.10
multidict==5.1.0
PyYAML==5.4.1
requests==2.25.1
six==1.15.0
tinydb==4.4.0
tuspy==0.2.4
urllib3==1.26.4
verboselogs==1.7
yarl==1.6.3
