name: Release

on:
  push:
    branches:
    - main

jobs:
  release:
    name: Release
    uses: OpenTTD/actions/.github/workflows/rw-entry-release-docker-nomad.yml@v6
    secrets: inherit
    with:
      service: bananas-api-prod
      url: https://bananas-api.openttd.org/
