name: Testing

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  testing:
    name: Testing
    uses: OpenTTD/actions/.github/workflows/rw-entry-testing-docker-py.yml@v4
    with:
      python-path: bananas_api
      python-version: 3.8

  regression:
    name: Regression
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Set up packages
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r regression_runner/requirements.txt

    - name: Install tusd
      run: |
        wget -q https://github.com/tus/tusd/releases/download/v1.11.0/tusd_linux_amd64.tar.gz
        mkdir -p tusd
        tar xf tusd_linux_amd64.tar.gz -C tusd
        sudo mv tusd/tusd_linux_amd64/tusd /usr/bin/tusd
        rm -rf tusd_linux_amd64.tar.gz tusd

    - name: Regression
      run: |
        make regression
