name: Testing

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  testing:
    name: Testing
    uses: OpenTTD/actions/.github/workflows/rw-entry-testing-docker-py.yml@v5
    with:
      python-path: bananas_api
      python-version: 3.11

  regression:
    name: Regression
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Set up Python 3.11
      uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Set up packages
      run: |
        sudo apt install -y --no-install-recommends \
          build-essential \
          libpng-dev \
          libpython3-dev \
          # EOF

        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install -r regression_runner/requirements.txt
        python setup.py install

    - name: Install tusd
      run: |
        wget -q https://github.com/tus/tusd/releases/download/v1.11.0/tusd_linux_amd64.tar.gz
        mkdir -p tusd
        tar xf tusd_linux_amd64.tar.gz -C tusd
        sudo mv tusd/tusd_linux_amd64/tusd /usr/bin/tusd
        rm -rf tusd_linux_amd64.tar.gz tusd

    - name: Regression
      run: |
        make regression
